# https://www.python.org/downloads/release/python-3110/
# python.exe -m pip install --upgrade pip
# pip install -r requirements.txt
numpy>=2.2.3
pandas>=2.2.3
matplotlib>=3.10.1
scikit-learn>=1.6.1
ucimlrepo>=0.0.7
scipy>=1.15.2
libsvm-official>=3.35.0
torch>=2.6.0